NEXT_PUBLIC_ENTRA_CLIENT_ID=507e7ad6-0114-459d-b084-511e8ea564a7
NEXT_PUBLIC_ENTRA_AUTHORITY=https://mahdavisonlinedev.ciamlogin.com/74c3a531-69e8-4b19-92dc-498a4ab5aaf7
NEXT_PUBLIC_ENTRA_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:7071/api
NEXT_PUBLIC_ENTRA_API_SCOPE=api://fe35a79a-4d68-4e7c-bfa7-6ef1c4af4f83/access_as_user
